/*----------- BODY --------------*/

/*----------- HEADER --------------*/
header h2 {
  display: block;
  margin: 0;
  font-weight: normal;
}

/*----------- NAVIGATION --------------*/
nav ul {
  margin-left: 2%;
}
nav ul li {
  width: auto;
}
nav ul li:first-child a {
  border-left: 1px solid #777;
}
nav ul li:last-child a {
  border-right: 1px solid #777;
}
nav ul li a {
  padding: 0.5rem 1rem;
}

/*----------- MAIN --------------*/
main {
  .gallery {
    flex-basis: 33%;

    figure {
      width: 33%;
    }
  }
}

/*----------- FOOTER --------------*/
