/* DGM 2740 by Tavian Haddock */

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*-- HEADER STYLESHEET --*/
header {
  background-color: #445e8a;
  max-width: 1200px;
  margin: auto;
}
header h1 {
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 36px;
  font-weight: lighter;
  padding: 1em 0.25em 0.5em 1em;
}
header h2 {
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 24px;
  font-weight: lighter;
  padding: 0 0.25em 0.75em 1.5em;
}

/*-- NAVIGATION STYLESHEET --*/
nav {
  max-width: 1200px;
  margin: auto;
  background-color: #a5b5c7;
}
nav ul {
}
nav li {
  width: 50%;
  float: left;
  background-color: #a5b5c7;
  border-right: solid 1px #445e8a;
}
li:last-child {
  border-right: none;
}
nav li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 16px;
}
nav li a.active {
  background-color: #e14658;
}

/*-- BODY STYLESHEET --*/
main {
  max-width: 1200px;
  margin: auto;
}
main img {
  width: 100%;
  padding: 0.25em 0.75em;
}
main img.mobile {
  display: block;
}
main img.tablet {
  display: none;
}
main img.desktop {
  display: none;
}

main h1 {
  color: #000;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 36px;
  font-weight: lighter;
  padding: 0.25em 0.5em;
}

/*-- FOOTER STYLESHEET --*/
footer {
  background-color: #445e8a;
  max-width: 1200px;
  margin: auto;
}
footer p {
  text-align: center;
  color: #fff;
}

/*background-color: #A5B5C7; float: left; width: 50%; text-align: center; border-right: solid 1px #445E8A; padding: .5em 0; #445E8A*/

.keepOpen {
  clear: both;
}
